@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --color-green: #50fa7b;
    --color-roxo: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background: #282a36;
    font-family: 'Roboto', ;
    color: white;


}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
    transition-duration: 1s;

}

.links {
    text-align: center;

}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
 

}

.links a:hover {
    color: var(--color-green);
    transition: color 700ms;
    transition-duration: 1s;
}

#wrapper {
    text-align: center;
    padding: 32px;

}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 32;
    height: 300px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;

}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

/* Estilo UL e LI*/



#wrapper ul li {
    font-size: 20px;
    padding: 2px;
    text-align: center;
    list-style: none;

}


/* Estilo UL e LI*/
#wrapper p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

#wrapper p a {
    color: var(--color-green);
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}

/*=========CARDS========== */
.cards{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    
    
}
.card{
    background-color: var(--color-roxo);
    border-radius: 5px 5px;
}

.card_image_container img{
    width: 100%;
    border-radius: 10px;
}
.card_content,
.card_info{
    padding: 24px;
    
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.card_price{
    background-color: var(--color-roxo);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
    
}

/*=========MODAL========== */

.modal_overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition-duration: 100ms;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    border-radius: 5px;
    
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;

}

/*=========MODAL ACTIVE========== */
.modal_overlay.active{
    opacity: 1;
    visibility: visible;

}


/*=========MODAL ACTIVE========== */
.modal_overlay.active {
    opacity: 1;
    visibility: visible;
}

 iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 6%;
}

/*=========cards-course========== */

.cards_image_container img {
    width: 100%;
}

/*=========cards-conteudo========== */

.cards-curso {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding: 50px;
    grid-gap: 30px;
    }

.card-curos {
    grid-template-columns: 1fr;
  display: grid;
  background-color: rgba(0,0,0,0.41);
  padding: 55px;
  border-radius: 5px;
    
}
.logo {
    max-width: 450px;
    margin: 0 auto;
  }
.titulo{
    text-align: center;
    margin-top: 20px;
}
.card_curso-content{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.card_curso-content p {
    background-color: rgba(0,0,0,0.41);
    border-radius: 50px;
    margin: 30px 30px 0px 30px;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
  }

