{% extends "layout.njk" %}


{% block head %}
    <title>404</title>
{% endblock %}



{% block content %}

        
     <div id="erro">
        <img src="404.png" alt="Daniel italo">
        <h1 class="text-01">OOPS...</h1>
        <p class="text-02">PAGINA NÃO ENCONTRADA </p>
     </div>

{% endblock %}
