{% extends "layout.njk" %}

{% block head %}
    <title>Portfólio - Daniel italo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block links %}
    <a href="/course">Cursos</a>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Portfólio</h1>
    </div>

    <section class="cards">

        {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div class="card_image_container {{'featured-wrapper' if item.featured}}">
                    <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="{{item.title}}">
                    {% if item.featured %}
                        <div class="featured">Destaque</div>
                    {% endif %}
                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.duration}}</p>
                    <p class="card_price">{{item.price}}</p>
                </div>
            </div>
        {% endfor %}

        <script src="scripts.js"></script>

    {% endblock %}